---
layout: default
title: Inicio
---



{% assign latest_post = paginator.posts.first %}
<section class="jrn-index-last-post">
  
  {% if paginator.page == 1 %}
  <span class="jrn-index-last-post-label">Última publicación</span>
  {%else%}
  <span class="jrn-index-last-post-label">Publicación sugerida</span>
  {% endif %}
  
  <article>
    
    <h1 class="jrn-index-last-post-title">
      <a href="{{ latest_post.url | relative_url }}">{{ latest_post.title }}</a>
    </h1>
    
    <p class="jrn-index-last-post-excerpt">
      {{ latest_post.excerpt | strip_html  }}
    </p>
    
    <div class="jrn-index-last-post-meta-meta">
      {{ latest_post.date | date: "%b %d, %Y" }} • 
      {% assign words = latest_post.content | number_of_words %}
      {{ words | divided_by: 200 | plus: 1 }} min de lectura
    </div>
    
  </article>

</section>

<hr class="jrn-index-last-post-meta-divider">


<div class="jrn-index-post-container">
  
  {% if paginator.page == 1 %}
  <h2 class="jrn-index-post-label">Anteriores</h2>
  {% else %}
  <h2 class="jrn-index-post-label">Página {{ paginator.page }}</h2>
  {% endif %}
  
  <ul class="jrn-index-post-list">
    {% for post in paginator.posts %}
    {% if paginator.page == 1 and forloop.first %}
      {% continue %}
    {% endif %}
    
    <li class="jrn-index-post-item">
      <a href="{{ post.url | relative_url }}" class="jrn-index-post-link">
        <span class="jrn-index-post-date">{{ post.date | date: "%d %b %Y" }}</span>
        <span class="jrn-index-post-title">{{ post.title }}</span>
        <span class="jrn-index-post-reading-time">
          {% assign p_words = post.content | number_of_words %}
          {{ p_words | divided_by: 200 | plus: 1 }} min
        </span>
      </a>
    </li>
    
    {% endfor %}
  </ul>

  <!-- Paginador -->
  {% if paginator.total_pages > 1 %}
  <div class="jrn-pagination">
    
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="jrn-pagination-nav">Anterior</a>
    {% else %}
      <span class="jrn-pagination-nav disabled">Anterior</span>
    {% endif %}

    <div class="jrn-pagination-numbers">
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="jrn-pagination-number current">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ '/' | relative_url }}" class="jrn-pagination-number">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="jrn-pagination-number">{{ page }}</a>
        {% endif %}
      {% endfor %}
    </div>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="jrn-pagination-nav">Siguiente</a>
    {% else %}
      <span class="jrn-pagination-nav disabled">Siguiente</span>
    {% endif %}

  </div>
  {% endif %}

</div>