---
---

@import "{{ site.theme }}";

header {
    float: none !important;
    position: relative !important;
}


/*
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 0.4rem;
    color: #1f2933;
}*/